# Generated from openapi/openapi.yaml. Do not edit this file manually.
openapi: 3.1.0
info:
  title: Anixart API
  version: "10.0"
  description: |
    Неофициальная документация Anixart API актуальная под Anixart v10.0 (BUILD 26090418). Описывает доступные методы, параметры, модели данных и коды результатов. Поведение API может меняться со временем.

    by [DesConnet](https://github.com/theDesConnet) [![GitHub](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white)](https://github.com/theDesConnet/AnixartApiDocs)
  contact:
    name: null
  x-documentation-source: https://github.com/theDesConnet/AnixartApiDocs
  x-client-method-count: 290
servers:
  - url: https://api-s.anixsekai.com/
    description: Основной адрес API.
tags:
  - name: Релизы
    description: Карточки релизов, фильтрация, связанные тайтлы, расписание и официальные стриминговые площадки.
  - name: Эпизоды
    description: Эпизоды, источники, озвучки, отметки просмотра и закрепление предпочитаемой озвучки.
  - name: Видео
    description: Видео релизов, категории, избранное и связанные с видео апелляции.
  - name: Статьи
    description: "Публикации каналов: создание, редактирование, реакции, репосты и предложения статей."
  - name: Коллекции
    description: Публичные и собственные коллекции, их содержимое и избранные коллекции.
  - name: Комментарии
    description: "Комментарии к релизам, статьям и коллекциям: ответы, голоса и модерационные действия."
  - name: Лента и рекомендации
    description: Лента публикаций, блоки Discover и персональные рекомендации.
  - name: Поиск
    description: Поиск по релизам, профилям, каналам, коллекциям и пользовательским спискам.
  - name: Профили
    description: Профили пользователей, социальные данные, роли и значки.
  - name: Друзья
    description: Друзья, заявки, рекомендации друзей и чёрный список.
  - name: Каналы
    description: "Каналы и блоги: подписки, права участников, оформление, блокировки и публикации."
  - name: Библиотека
    description: Пользовательские списки релизов, избранное, история просмотров и оценки.
  - name: Авторизация
    description: Регистрация, вход, восстановление доступа и авторизация через внешние сервисы.
  - name: Настройки аккаунта
    description: Профиль, приватность, почта, пароль, соцсети, тема и удаление аккаунта.
  - name: Уведомления
    description: Уведомления и персональные правила их получения.
  - name: Модерация
    description: Жалобы на контент и профили, ограничения аккаунта и апелляции.
  - name: Конфигурация
    description: Конфигурация мобильного клиента, адреса API, зеркала и серверные feature flags.
  - name: Импорт и экспорт
    description: Импорт и экспорт пользовательских списков и закладок.
paths:
  /article/comment/add/{articleId}:
    post:
      tags:
        - Комментарии
      operationId: ArticleComment_add
      summary: Добавить комментарий к статье
      description: "Добавить комментарий к статье. Тело запроса: `CommentAddRequest` (`application/json`). При заданном токене
        запрос выполняется в контексте текущего профиля."
      x-requires-anixart-user-agent: true
      x-client-methods:
        - ArticleCommentApi.add
      parameters:
        - name: articleId
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: User-Agent
          in: header
          required: true
          description: Для этой операции нужен `User-Agent` мобильного клиента Anixart. Обычный User-Agent браузера, curl или
            HTTP-библиотеки может быть отклонён сервером.
          schema:
            type: string
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCommentAddResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentAddRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/all/profile/{p_id}/{page}:
    get:
      tags:
        - Комментарии
      operationId: ArticleComment_profileComments
      summary: Получить комментарии профиля к статьям
      description: Получить комментарии профиля к статьям. Выдача постраничная; `page` начинается с `0`. При заданном токене
        запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.profileComments
      parameters:
        - name: p_id
          in: path
          required: true
          description: Идентификатор профиля.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticleComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/all/{a_id}/popular:
    get:
      tags:
        - Комментарии
      operationId: ArticleComment_commentsPopular
      summary: Получить популярные комментарии статьи
      description: Получить популярные комментарии статьи. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.commentsPopular
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticleComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/all/{a_id}/{page}:
    get:
      tags:
        - Комментарии
      operationId: ArticleComment_comments
      summary: Получить комментарии статьи
      description: Получить комментарии статьи. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.comments
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticleComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/delete/{commentId}:
    get:
      tags:
        - Комментарии
      operationId: ArticleComment_delete
      summary: Удалить комментарий к статье
      description: Удалить комментарий к статье. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.delete
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentDeleteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/edit/{commentId}:
    post:
      tags:
        - Комментарии
      operationId: ArticleComment_edit
      summary: Изменить комментарий к статье
      description: "Изменить комментарий к статье. Тело запроса: `CommentEditRequest` (`application/json`). При заданном
        токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleCommentApi.edit
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentEditRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/process/{commentId}:
    post:
      tags:
        - Комментарии
      operationId: ArticleComment_process
      summary: Изменить модерационный статус комментария к статье
      description: "Изменить модерационный статус комментария к статье. Тело запроса: `CommentProcessRequest`
        (`application/json`). При заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleCommentApi.process
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentProcessRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/replies/{commentId}/{page}:
    post:
      tags:
        - Комментарии
      operationId: ArticleComment_replies
      summary: Получить ответы на комментарий к статье
      description: Получить ответы на комментарий к статье. Выдача постраничная; `page` начинается с `0`. При заданном токене
        запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.replies
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticleComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/vote/{commentId}/{vote}:
    get:
      tags:
        - Комментарии
      operationId: ArticleComment_vote
      summary: Проголосовать за комментарий к статье
      description: Проголосовать за комментарий к статье. При заданном токене запрос выполняется в контексте текущего профиля.
      x-requires-anixart-user-agent: true
      x-client-methods:
        - ArticleCommentApi.vote
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
        - name: vote
          in: path
          required: true
          description: Код реакции/голоса, передаваемый мобильным клиентом. Набор допустимых значений для этого типа объекта в APK
            отдельным enum не объявлен.
          schema:
            type: integer
            format: int32
        - name: User-Agent
          in: header
          required: true
          description: Для этой операции нужен `User-Agent` мобильного клиента Anixart. Обычный User-Agent браузера, curl или
            HTTP-библиотеки может быть отклонён сервером.
          schema:
            type: string
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/votes/{commentId}/{page}:
    post:
      tags:
        - Комментарии
      operationId: ArticleComment_votes
      summary: Получить голоса за комментарий к статье
      description: Получить голоса за комментарий к статье. Выдача постраничная; `page` начинается с `0`. При заданном токене
        запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.votes
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfProfile"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/comment/{articleId}:
    get:
      tags:
        - Комментарии
      operationId: ArticleComment_comment
      summary: Получить комментарий к статье
      description: Получить комментарий к статье. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleCommentApi.comment
      parameters:
        - name: articleId
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к статьям
  /article/create/{c_id}:
    post:
      tags:
        - Статьи
      operationId: Article_create
      summary: Создать статью
      description: "Создать статью. Тело запроса: `ArticleCreateEditRequest` (`application/json`). При заданном токене запрос
        выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleApi.create
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleCreateEditRequest"
      security:
        - AnixartToken: []
        - {}
  /article/delete/{a_id}:
    post:
      tags:
        - Статьи
      operationId: Article_delete
      summary: Удалить статью
      description: Удалить статью. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.delete
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleDeleteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/edit/pinned/{a_id}:
    get:
      tags:
        - Статьи
      operationId: Article_editIsPinned
      summary: Закрепить или открепить статью
      description: Закрепить или открепить статью. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.editIsPinned
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: is_pinned
          in: query
          required: false
          description: Закрепить (`true`) или открепить (`false`) статью.
          schema:
            type: boolean
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleEditPinnedResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/edit/{a_id}:
    post:
      tags:
        - Статьи
      operationId: Article_edit
      summary: Изменить статью
      description: "Изменить статью. Тело запроса: `ArticleCreateEditRequest` (`application/json`). При заданном токене запрос
        выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleApi.edit
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleCreateEditRequest"
      security:
        - AnixartToken: []
        - {}
  /article/event:
    post:
      tags:
        - Статьи
      operationId: Article_hits
      summary: Отправить событие взаимодействия со статьёй
      description: "Отправить событие взаимодействия со статьёй. Тело запроса: `ArticleEventRequest` (`application/json`). При
        заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleApi.hits
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleEventRequest"
      security:
        - AnixartToken: []
        - {}
  /article/mute/{a_id}:
    get:
      tags:
        - Статьи
      operationId: Article_mute
      summary: Скрыть статью из ленты
      description: Скрыть статью из ленты. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.mute
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleMuteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/reposts/{a_id}/{page}:
    get:
      tags:
        - Статьи
      operationId: Article_reposts
      summary: Получить репосты статьи
      description: Получить репосты статьи. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.reposts
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticle"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/suggestion/all/{page}:
    post:
      tags:
        - Статьи
      operationId: ArticleSuggestion_articleSuggestions
      summary: Получить предложения статей
      description: "Получить предложения статей. Выдача постраничная; `page` начинается с `0`. Тело запроса:
        `ArticleSuggestionsFilterRequest` (`application/json`). При заданном токене запрос выполняется в контексте
        текущего профиля."
      x-client-methods:
        - ArticleSuggestionApi.articleSuggestions
      parameters:
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticle"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleSuggestionsFilterRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Предложения статей
  /article/suggestion/create/{b_id}:
    post:
      tags:
        - Статьи
      operationId: ArticleSuggestion_create
      summary: Создать предложение статьи
      description: "Создать предложение статьи. Тело запроса: `ArticleSuggestionCreateEditRequest` (`application/json`). При
        заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleSuggestionApi.create
      parameters:
        - name: b_id
          in: path
          required: true
          description: Идентификатор блога/канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleSuggestionCreateEditRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Предложения статей
  /article/suggestion/delete/{a_id}:
    post:
      tags:
        - Статьи
      operationId: ArticleSuggestion_delete
      summary: Удалить предложение статьи
      description: Удалить предложение статьи. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleSuggestionApi.delete
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleSuggestionDeleteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Предложения статей
  /article/suggestion/edit/{a_id}:
    post:
      tags:
        - Статьи
      operationId: ArticleSuggestion_edit
      summary: Изменить предложение статьи
      description: "Изменить предложение статьи. Тело запроса: `ArticleSuggestionCreateEditRequest` (`application/json`). При
        заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ArticleSuggestionApi.edit
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArticleSuggestionCreateEditRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Предложения статей
  /article/suggestion/publish/{a_id}:
    post:
      tags:
        - Статьи
      operationId: ArticleSuggestion_publish
      summary: Опубликовать предложение статьи
      description: Опубликовать предложение статьи. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleSuggestionApi.publish
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: is_signed
          in: query
          required: false
          description: Признак публикации статьи с подписью автора.
          schema:
            type: boolean
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Предложения статей
  /article/suggestion/{a_id}:
    get:
      tags:
        - Статьи
      operationId: ArticleSuggestion_articleSuggestion
      summary: Получить предложение статьи
      description: Получить предложение статьи. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleSuggestionApi.articleSuggestion
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Предложения статей
  /article/unmute/{a_id}:
    get:
      tags:
        - Статьи
      operationId: Article_unmute
      summary: Вернуть статью в ленту
      description: Вернуть статью в ленту. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.unmute
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleMuteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/vote/{a_id}/{vote}:
    get:
      tags:
        - Статьи
      operationId: Article_vote
      summary: Проголосовать за статью
      description: Проголосовать за статью. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.vote
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: vote
          in: path
          required: true
          description: Код реакции/голоса, передаваемый мобильным клиентом. Набор допустимых значений для этого типа объекта в APK
            отдельным enum не объявлен.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/votes/{a_id}/{page}:
    post:
      tags:
        - Статьи
      operationId: Article_votes
      summary: Получить голоса за статью
      description: Получить голоса за статью. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.votes
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfProfile"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /article/{a_id}:
    get:
      tags:
        - Статьи
      operationId: Article_article
      summary: Получить статью
      description: Получить статью. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ArticleApi.article
      parameters:
        - name: a_id
          in: path
          required: true
          description: Идентификатор статьи.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /auth/checkLogin:
    post:
      tags:
        - Авторизация
      operationId: Auth_checkLogin
      summary: Проверить доступность логина
      description: Проверить доступность логина. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.checkLogin
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckLoginResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                login:
                  type: string
  /auth/firebase:
    post:
      tags:
        - Авторизация
      operationId: Auth_firebase
      summary: Получить Firebase topic для уведомлений
      description: Получить Firebase topic для уведомлений. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - AuthApi.firebase
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirebaseResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /auth/google:
    post:
      tags:
        - Авторизация
      operationId: Auth_signInWithGoogle
      summary: Войти через Google
      description: Войти через Google. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.signInWithGoogle
        - AuthApi.signUpWithGoogle
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                googleIdToken:
                  type: string
                login:
                  type: string
                email:
                  type: string
  /auth/resend:
    post:
      tags:
        - Авторизация
      operationId: Auth_resend
      summary: Повторно отправить код регистрации
      description: Повторно отправить код регистрации. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.resend
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResendResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                login:
                  type: string
                email:
                  type: string
                password:
                  type: string
                vkAccessToken:
                  type: string
                googleIdToken:
                  type: string
                telegramIdToken:
                  type: string
                yandexAccessToken:
                  type: string
                hash:
                  type: string
  /auth/restore:
    post:
      tags:
        - Авторизация
      operationId: Auth_restore
      summary: Начать восстановление аккаунта
      description: Начать восстановление аккаунта. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.restore
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                data:
                  type: string
  /auth/restore/resend:
    post:
      tags:
        - Авторизация
      operationId: Auth_restoreResend
      summary: Повторно отправить код восстановления
      description: Повторно отправить код восстановления. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.restoreResend
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreResendResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                data:
                  type: string
                password:
                  type: string
                hash:
                  type: string
  /auth/restore/verify:
    post:
      tags:
        - Авторизация
      operationId: Auth_restoreVerify
      summary: Подтвердить восстановление аккаунта
      description: Подтвердить восстановление аккаунта. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.restoreVerify
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreVerifyResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                data:
                  type: string
                password:
                  type: string
                hash:
                  type: string
                code:
                  type: string
  /auth/signIn:
    post:
      tags:
        - Авторизация
      operationId: Auth_signIn
      summary: Войти по логину и паролю
      description: Войти по логину и паролю. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.signIn
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                login:
                  type: string
                password:
                  type: string
  /auth/signUp:
    post:
      tags:
        - Авторизация
      operationId: Auth_signUp
      summary: Зарегистрировать аккаунт
      description: Зарегистрировать аккаунт. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.signUp
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUpResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                login:
                  type: string
                email:
                  type: string
                password:
                  type: string
  /auth/telegram:
    post:
      tags:
        - Авторизация
      operationId: Auth_signInWithTelegram
      summary: Войти через Telegram
      description: Войти через Telegram. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.signInWithTelegram
        - AuthApi.signUpWithTelegram
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TelegramResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                telegramIdToken:
                  type: string
                login:
                  type: string
                email:
                  type: string
  /auth/verify:
    post:
      tags:
        - Авторизация
      operationId: Auth_verify
      summary: Подтвердить регистрацию
      description: Подтвердить регистрацию. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.verify
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                login:
                  type: string
                email:
                  type: string
                password:
                  type: string
                vkAccessToken:
                  type: string
                googleIdToken:
                  type: string
                telegramIdToken:
                  type: string
                yandexAccessToken:
                  type: string
                hash:
                  type: string
                code:
                  type: string
  /auth/vk:
    post:
      tags:
        - Авторизация
      operationId: Auth_signInWithVk
      summary: Войти через VK
      description: Войти через VK. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.signInWithVk
        - AuthApi.signUpWithVk
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VkResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vkAccessToken:
                  type: string
                login:
                  type: string
                email:
                  type: string
  /auth/yandex:
    post:
      tags:
        - Авторизация
      operationId: Auth_signInWithYandex
      summary: Войти через Yandex
      description: Войти через Yandex. Тело запроса передаётся как `application/x-www-form-urlencoded`.
      x-client-methods:
        - AuthApi.signInWithYandex
        - AuthApi.signUpWithYandex
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/YandexResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                yandexAccessToken:
                  type: string
                login:
                  type: string
                email:
                  type: string
  /channel/all/{page}:
    post:
      tags:
        - Каналы
      operationId: Channel_channels
      summary: Получить список каналов
      description: "Получить список каналов. Выдача постраничная; `page` начинается с `0`. Тело запроса:
        `ChannelsFilterRequest` (`application/json`). При заданном токене запрос выполняется в контексте текущего
        профиля."
      x-client-methods:
        - ChannelApi.channels
      parameters:
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfChannel"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelsFilterRequest"
      security:
        - AnixartToken: []
        - {}
  /channel/avatar/upload/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_avatarUpload
      summary: Загрузить аватар канала
      description: Загрузить аватар канала. Тело запроса передаётся как `multipart/form-data`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.avatarUpload
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelUploadCoverAvatarResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      security:
        - AnixartToken: []
        - {}
  /channel/blog/create:
    post:
      tags:
        - Каналы
      operationId: Channel_createBlog
      summary: Создать персональный блог
      description: Создать персональный блог. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.createBlog
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlogCreateResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/blog/{p_id}:
    get:
      tags:
        - Каналы
      operationId: Channel_blog
      summary: Получить блог профиля
      description: Получить блог профиля. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.blog
      parameters:
        - name: p_id
          in: path
          required: true
          description: Идентификатор профиля.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/cover/delete/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_coverDelete
      summary: Удалить обложку канала
      description: Удалить обложку канала. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.coverDelete
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelUploadCoverAvatarResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/cover/upload/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_coverUpload
      summary: Загрузить обложку канала
      description: Загрузить обложку канала. Тело запроса передаётся как `multipart/form-data`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.coverUpload
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelUploadCoverAvatarResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      security:
        - AnixartToken: []
        - {}
  /channel/create:
    post:
      tags:
        - Каналы
      operationId: Channel_create
      summary: Создать канал
      description: "Создать канал. Тело запроса: `ChannelCreateEditRequest` (`application/json`). При заданном токене запрос
        выполняется в контексте текущего профиля."
      x-client-methods:
        - ChannelApi.create
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelCreateEditRequest"
      security:
        - AnixartToken: []
        - {}
  /channel/edit/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_edit
      summary: Изменить канал
      description: "Изменить канал. Тело запроса: `ChannelCreateEditRequest` (`application/json`). При заданном токене запрос
        выполняется в контексте текущего профиля."
      x-client-methods:
        - ChannelApi.edit
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelCreateEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelCreateEditRequest"
      security:
        - AnixartToken: []
        - {}
  /channel/editor/available/all:
    get:
      tags:
        - Каналы
      operationId: Channel_editorAvailableChannels
      summary: Получить каналы, доступные в редакторе
      description: Получить каналы, доступные в редакторе. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.editorAvailableChannels
      parameters:
        - name: only_subscribed
          in: query
          required: false
          description: Ограничить выдачу каналами, на которые подписан текущий профиль.
          schema:
            type:
              - boolean
              - "null"
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EditorChannelsResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/mute/all/{page}:
    get:
      tags:
        - Каналы
      operationId: Channel_mutes
      summary: Получить заглушенные каналы
      description: Получить заглушенные каналы. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.mutes
      parameters:
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfChannel"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/mute/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_mute
      summary: Заглушить канал
      description: Заглушить канал. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.mute
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleMuteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/recommendations/{page}:
    get:
      tags:
        - Каналы
      operationId: Channel_recommendations
      summary: Получить рекомендованные каналы
      description: Получить рекомендованные каналы. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.recommendations
      parameters:
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: is_blog
          in: query
          required: false
          description: Фильтр каналов по признаку персонального блога.
          schema:
            type:
              - boolean
              - "null"
        - name: exclude_subscribed
          in: query
          required: false
          description: Исключить из рекомендаций каналы, на которые профиль уже подписан.
          schema:
            type:
              - boolean
              - "null"
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfChannel"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/subscribe/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_subscribe
      summary: Подписаться на канал
      description: Подписаться на канал. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.subscribe
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelSubscribeResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/subscription/all/{page}:
    get:
      tags:
        - Каналы
      operationId: Channel_subscriptions
      summary: Получить подписки на каналы
      description: Получить подписки на каналы. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.subscriptions
      parameters:
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfChannel"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/subscription/count:
    get:
      tags:
        - Каналы
      operationId: Channel_subscriptionCount
      summary: Получить количество подписок
      description: Получить количество подписок. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.subscriptionCount
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionCountResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/unmute/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_unmute
      summary: Убрать канал из заглушенных
      description: Убрать канал из заглушенных. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.unmute
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleMuteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/unsubscribe/{c_id}:
    post:
      tags:
        - Каналы
      operationId: Channel_unsubscribe
      summary: Отписаться от канала
      description: Отписаться от канала. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.unsubscribe
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelUnsubscribeResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}:
    get:
      tags:
        - Каналы
      operationId: Channel_channel
      summary: Получить канал
      description: Получить канал. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.channel
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/article/all/{page}:
    post:
      tags:
        - Каналы
      operationId: Channel_articles
      summary: Получить статьи канала
      description: Получить статьи канала. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.articles
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfArticle"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/block/all/{page}:
    get:
      tags:
        - Каналы
      operationId: Channel_blocks
      summary: Получить заблокированных участников канала
      description: Получить заблокированных участников канала. Выдача постраничная; `page` начинается с `0`. При заданном
        токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.blocks
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfChannelProfile"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/block/manage:
    post:
      tags:
        - Каналы
      operationId: Channel_blockManage
      summary: Изменить блокировку участника канала
      description: "Изменить блокировку участника канала. Тело запроса: `ChannelBlockManageRequest` (`application/json`). При
        заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ChannelApi.blockManage
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelBlockResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelBlockManageRequest"
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/block/{p_id}:
    get:
      tags:
        - Каналы
      operationId: Channel_block
      summary: Получить блокировку участника канала
      description: Получить блокировку участника канала. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.block
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
        - name: p_id
          in: path
          required: true
          description: Идентификатор профиля.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelBlockResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/editor/available:
    get:
      tags:
        - Каналы
      operationId: Channel_editorAvailable
      summary: Проверить доступность редактора канала
      description: Проверить доступность редактора канала. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - ChannelApi.editorAvailable
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
        - name: is_suggestion
          in: query
          required: false
          description: Проверять редактор в контексте предложения статьи.
          schema:
            type: boolean
        - name: is_edit_mode
          in: query
          required: false
          description: Проверять доступность редактора для редактирования существующей статьи.
          schema:
            type: boolean
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EditorAvailableResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/permission/all/{page}:
    post:
      tags:
        - Каналы
      operationId: Channel_permissions
      summary: Получить участников и права канала
      description: "Получить участников и права канала. Выдача постраничная; `page` начинается с `0`. Тело запроса:
        `ChannelPermissionsFilterRequest` (`application/json`). При заданном токене запрос выполняется в контексте
        текущего профиля."
      x-client-methods:
        - ChannelApi.permissions
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfChannelProfile"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelPermissionsFilterRequest"
      security:
        - AnixartToken: []
        - {}
  /channel/{c_id}/permission/manage:
    post:
      tags:
        - Каналы
      operationId: Channel_permissionManage
      summary: Изменить права участника канала
      description: "Изменить права участника канала. Тело запроса: `ChannelPermissionManageRequest` (`application/json`). При
        заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - ChannelApi.permissionManage
      parameters:
        - name: c_id
          in: path
          required: true
          description: Идентификатор канала.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelPermissionManageResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelPermissionManageRequest"
      security:
        - AnixartToken: []
        - {}
  /collection/all/profile/{p_id}/{page}:
    get:
      tags:
        - Коллекции
      operationId: Collection_profileCollections
      summary: Получить коллекции профиля
      description: Получить коллекции профиля. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionApi.profileCollections
      parameters:
        - name: p_id
          in: path
          required: true
          description: Идентификатор профиля.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfCollection"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /collection/all/release/{r_id}/{page}:
    get:
      tags:
        - Коллекции
      operationId: Collection_releaseCollections
      summary: Получить коллекции с релизом
      description: Получить коллекции с релизом. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionApi.releaseCollections
      parameters:
        - name: r_id
          in: path
          required: true
          description: Идентификатор релиза.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfCollection"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /collection/all/{page}:
    get:
      tags:
        - Коллекции
      operationId: Collection_collections
      summary: Получить коллекции
      description: Получить коллекции. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос выполняется в
        контексте текущего профиля.
      x-client-methods:
        - CollectionApi.collections
      parameters:
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: previous_page
          in: query
          required: false
          description: Предыдущая страница выдачи; используется клиентом как часть пагинации/продолжения списка.
          schema:
            type: integer
            format: int32
        - name: where
          in: query
          required: false
          description: Числовой код раздела, из которого запрашивается список коллекций.
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfCollection"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /collection/comment/add/{collectionId}:
    post:
      tags:
        - Комментарии
      operationId: CollectionComment_add
      summary: Добавить комментарий к коллекции
      description: "Добавить комментарий к коллекции. Тело запроса: `CommentAddRequest` (`application/json`). При заданном
        токене запрос выполняется в контексте текущего профиля."
      x-requires-anixart-user-agent: true
      x-client-methods:
        - CollectionCommentApi.add
      parameters:
        - name: collectionId
          in: path
          required: true
          description: Идентификатор коллекции.
          schema:
            type: integer
            format: int64
        - name: User-Agent
          in: header
          required: true
          description: Для этой операции нужен `User-Agent` мобильного клиента Anixart. Обычный User-Agent браузера, curl или
            HTTP-библиотеки может быть отклонён сервером.
          schema:
            type: string
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionCommentAddResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentAddRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/all/profile/{p_id}/{page}:
    get:
      tags:
        - Комментарии
      operationId: CollectionComment_profileComments
      summary: Получить комментарии профиля к коллекциям
      description: Получить комментарии профиля к коллекциям. Выдача постраничная; `page` начинается с `0`. При заданном
        токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionCommentApi.profileComments
      parameters:
        - name: p_id
          in: path
          required: true
          description: Идентификатор профиля.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfCollectionComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/all/{collectionId}/{page}:
    get:
      tags:
        - Комментарии
      operationId: CollectionComment_comments
      summary: Получить комментарии коллекции
      description: Получить комментарии коллекции. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionCommentApi.comments
      parameters:
        - name: collectionId
          in: path
          required: true
          description: Идентификатор коллекции.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfCollectionComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/delete/{commentId}:
    get:
      tags:
        - Комментарии
      operationId: CollectionComment_delete
      summary: Удалить комментарий к коллекции
      description: Удалить комментарий к коллекции. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionCommentApi.delete
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentDeleteResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/edit/{commentId}:
    post:
      tags:
        - Комментарии
      operationId: CollectionComment_edit
      summary: Изменить комментарий к коллекции
      description: "Изменить комментарий к коллекции. Тело запроса: `CommentEditRequest` (`application/json`). При заданном
        токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - CollectionCommentApi.edit
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentEditResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentEditRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/process/{commentId}:
    post:
      tags:
        - Комментарии
      operationId: CollectionComment_process
      summary: Изменить модерационный статус комментария к коллекции
      description: "Изменить модерационный статус комментария к коллекции. Тело запроса: `CommentProcessRequest`
        (`application/json`). При заданном токене запрос выполняется в контексте текущего профиля."
      x-client-methods:
        - CollectionCommentApi.process
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentProcessRequest"
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/replies/{commentId}/{page}:
    post:
      tags:
        - Комментарии
      operationId: CollectionComment_replies
      summary: Получить ответы на комментарий коллекции
      description: Получить ответы на комментарий коллекции. Выдача постраничная; `page` начинается с `0`. При заданном токене
        запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionCommentApi.replies
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfCollectionComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/vote/{commentId}/{vote}:
    get:
      tags:
        - Комментарии
      operationId: CollectionComment_vote
      summary: Проголосовать за комментарий коллекции
      description: Проголосовать за комментарий коллекции. При заданном токене запрос выполняется в контексте текущего профиля.
      x-requires-anixart-user-agent: true
      x-client-methods:
        - CollectionCommentApi.vote
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
        - name: vote
          in: path
          required: true
          description: Код реакции/голоса, передаваемый мобильным клиентом. Набор допустимых значений для этого типа объекта в APK
            отдельным enum не объявлен.
          schema:
            type: integer
            format: int32
        - name: User-Agent
          in: header
          required: true
          description: Для этой операции нужен `User-Agent` мобильного клиента Anixart. Обычный User-Agent браузера, curl или
            HTTP-библиотеки может быть отклонён сервером.
          schema:
            type: string
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/votes/{commentId}/{page}:
    get:
      tags:
        - Комментарии
      operationId: CollectionComment_votes
      summary: Получить голоса за комментарий коллекции
      description: Получить голоса за комментарий коллекции. Выдача постраничная; `page` начинается с `0`. При заданном токене
        запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionCommentApi.votes
      parameters:
        - name: commentId
          in: path
          required: true
          description: Идентификатор комментария.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sort
          in: query
          required: false
          description: Код или направление сортировки.
          schema:
            type:
              - integer
              - "null"
            format: int32
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfProfile"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/comment/{collectionId}:
    get:
      tags:
        - Комментарии
      operationId: CollectionComment_comment
      summary: Получить комментарий коллекции
      description: Получить комментарий коллекции. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionCommentApi.comment
      parameters:
        - name: collectionId
          in: path
          required: true
          description: Идентификатор коллекции.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionComment"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
      x-original-tags:
        - Комментарии к коллекциям
  /collection/{id}:
    get:
      tags:
        - Коллекции
      operationId: Collection_collection
      summary: Получить коллекцию
      description: Получить коллекцию. При заданном токене запрос выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionApi.collection
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор целевого объекта.
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponse"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
        - AnixartToken: []
        - {}
  /collection/{id}/releases/{page}:
    get:
      tags:
        - Коллекции
      operationId: Collection_releases
      summary: Получить релизы коллекции
      description: Получить релизы коллекции. Выдача постраничная; `page` начинается с `0`. При заданном токене запрос
        выполняется в контексте текущего профиля.
      x-client-methods:
        - CollectionApi.releases
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор целевого объекта.
          schema:
            type: integer
            format: int64
        - name: page
          in: path
          required: true
          description: Номер страницы, начиная с `0`.
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Запрос выполнен.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageOfRelease"
        default:
          description: Ошибка запроса или серверное ограничение. Код результата передаётся в поле `code` ответа, если оно
            предусмотрено схемой.
      security:
[...]
